.resimSlider {
  height: 650px;
}
body {
  padding-top: 50px;
  font-family: "Raleway", sans-serif;
}
.hakkimizda {
  background-color: #f2f2f2;
}
.ayrac {
  border: none;
  border-top: 3px solid #343a40;
  max-width: 250px;
  margin: 25px auto;
}
.igray {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid #f2f2f2;
  background-color: #f2f2f2;
}
.iwhite {
  color: #343a40;
  position: relative;
  top: -55px;
  font-size: 40px;
  border: 10px solid white;
  background-color: white;
}
.ekipCard > img:hover {
  opacity: 0.8;
}
.galeri {
  background-color: #f2f2f2;
}
.figure:hover {
  opacity: 0.8;
}
.form-control {
  width: 450px;
}
